@import '../../../styles/settings.scss';

.root {
	padding-top: 70px;
	padding-bottom: 50px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
	color: $text-color-light;
	font-size: 26px;

	.title {
		@extend %titleStyle;
	}
}