@import '../../../styles/settings.scss';

.root {
  position: relative;
  width: 100%;
  z-index: 99;
  background: $footer-bg;
  color: $text-color-light;

  .footercontent {
    padding: 16px;
    margin-bottom: 10px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .footersection {
    
    margin-top: 16px;
  
    h4 {
      margin-bottom: 10px;
      color: $text-color-light;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    a {
      color: $text-color-light;
      text-decoration: none;
      transition: color 0.3s;
  
      &:hover {
        color: $text-color-primary;
      }
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 8px;
      }
    }
  }
  
  .footerbottom {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid $text-color-mid;
  }

  @media (width > 325px) {
    .footercontent {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width > 480px) {
    .footercontent {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (width > 600px) {
    .footercontent {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (width > 900px) {
    .footercontent {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}