@import '../../../styles/settings.scss';

.root {
  @extend %transitionHover;
  height: 472px;
  width: 373px;
  margin: 0 0 50px 0;
  position: relative;
  background: $bg-prod-card;
  color: $text-color-light;
  border-radius: 18px;
  -webkit-box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;
  -moz-box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;
  box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;

  &:hover {
    -webkit-box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    -moz-box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    transform: scale(1.1);
  }
  
  .img {
    @extend %transitionHover;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    width: calc(100% - 20px);
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
  }

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    padding: 10px;
    background-color: $bg-prod-card;
    background-image: linear-gradient(180deg, rgba(89, 131, 252, 0) 0%, rgba(16, 16, 16, 0.9) 100%);
  
    .text {
      font-size: 26px;
      display: flex;
      justify-content: space-between;
      color: $text-color-primary;
    }

    .button {
      @extend %transitionHover;
      background: none;
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: calc(100% - 20px);
      font-size: 26px;
      font-weight: 600;
      border: 2px solid $text-color-light;
      border-radius: 10px;
      border-color: $text-color-primary;
      color: $text-color-primary;

      &:hover {
        color: $bg-prod-card;
        background: $text-color-primary;
      }

      &:active {
        background: none;
      }
    }
  }
}