@import '../../../styles/settings.scss';

.root {
  @extend %transitionHover;
  height: 472px;
  width: 373px;
  margin: 0 0 50px 0;
  position: relative;
  background: $bg-prod-card;
  color: $text-color-light;
  border-radius: 38% 38% 38% 38% / 17% 16% 16% 16% ;
  -webkit-box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;
  -moz-box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;
  box-shadow: 0px 3px 49px -17px $bg-prod-card-shadow;

  &:hover {
    -webkit-box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    -moz-box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    box-shadow: 0px 13px 49px -17px $bg-prod-card-shadow;
    transform: scale(1.05);
    color: $text-color-primary;
  }
  
  .img {
    @extend %transitionHover;
    border-radius: 38% 38% 38% 38% / 17% 16% 16% 16% ;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 30%;
    padding: 10px;
   
    .text {
      font-size: 26px;
      display: flex;
      justify-content: space-between;
      
    }

    .button {
      @extend %transitionHover;
      background: none;
      position: absolute;
      bottom: 10px;
      
      transform: translate(50%,0);
      width: 50%;
      font-size: 26px;
      font-weight: 600;
      border: 3px solid $text-color-light;
      border-radius: 100px ;
      color: $text-color-light;
      
      &:hover {
        color: $text-color-primary;
        border-color: $text-color-primary;
        
      }

      &:active {
        background: none;
      }
    }
  }
}