@import '../../../styles/settings.scss';

.root {
  padding-top: 70px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;

  .title {
    @extend %titleStyle;
  }

  .confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $text-color-light;
    width: 300px;
    height: 200px;
    background: $bg-confirm-box;
    border-radius: 16px;
  }
}