@import '../../../styles/settings.scss';

.root {
  padding-top: 70px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;

  .title {
    @extend %titleStyle;
  }

  
  .emptyCart {
    text-align: center;
    font-size: 22px;
    color: $text-color-light;
  }
}