@import '../../../styles/settings.scss';

.root {
  padding: 70px 10px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    @extend %titleStyle;
  }

  .box {
    max-width: 550px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $text-color-light;
    padding: 20px;
    font-size: 22px;

    .img {
      width: 90%;
      height: 300px;
      margin-bottom: 18px;
      object-fit: cover;
    }
  
    p{
      text-align: justify;
    }
  }

}