@import '../../../styles/settings.scss';
.root {
	padding-top: 70px;
	padding-bottom: 50px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
	color: $text-color-light;
	font-size: 26px;

	h3 {
		@extend %titleStyle;
		font-size: 36px;
		text-align: start;
		margin: 20px 0;
	}

	.form {
		display: flex;

		input {
			margin: 0 9px;
			width: 50px;
			text-align: center
		}
	}

	.title {
		@extend %titleStyle;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield; 
	}

}

@media (max-width: 768px) {
  .pInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.formAndButton {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}
