@import '../../../styles/settings.scss';

.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;

  h1 {
    font-family: $font-title;
  }
  .heroBg {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #493232;
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../public/images/layout/home_bg.jpg);
    background-size: cover
    
  }
}