@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
  .orders {
    width: 100%;
    background: $bg-all-orders;
    border-radius: 16px;  
  }

  .orders>:nth-child(even) {
    background-color: $bg-all-orders-child;
  }

  .sum {
    border-radius: 0 0 16px 16px;
  }
}