@import '../../../styles/settings.scss';

.root {
  color: $text-color-mid;
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 99;
  text-shadow: 1px 3px 7px $text-color;
  
  a {
    @extend %transitionHover;
    color: $text-color-mid;
    text-shadow: 1px 3px 7px $text-color;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    font-size: $text-nav;
    font-family: $font-title;

    &:hover {
      color: $text-color-primary;
      transform: scale(1.1);
    }
  }
  .linkActive {
    color: $text-color-primary;
    text-shadow: 1px 3px 7px $text-color;
  }

  .icon {
    @extend %transitionHover;

    &:hover {
      color: $text-color-primary;
      transform: scale(1.1);
    }
  }

  .logo {
    @extend %transitionHover;
    font-size: $text-nav;
    font-family: $font-title;
    color: $text-color-primary;
    text-shadow: 1px 3px 7px $text-color;
    font-weight: bold;

    &:hover {
      color: $text-color-primary;
      transform: scale(1.1);
    }
  }

  button {
    margin-right: 25px;
    color: $text-color-primary;
  }
}