@import '../../../styles/settings.scss';

.root {
  position: relative;
  height: 60px;
  z-index: 99;
  background: $Background-color;
  
  a {
    color: $text-color-light;
    text-decoration: none;
    margin: 0 10px;
    font-size: $text-nav;
    font-family: $font-title;
  }
  .linkActive {
    color: $text-color-primary;
  }

  .logo {
    font-size: $text-nav;
    font-family: $font-title;
    color: $text-color-primary;
    font-weight: bold;
  }
}