@import './settings.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-content .image-gallery-slide .image-gallery-image {
	height: 500px;
  object-fit: cover;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 100px;
  object-fit: cover;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  border-color: $text-color-primary;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $Background-color;
  font-family: $font-text;
  font-size: ($base-size );
  letter-spacing: 0.5px;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

@import "./typography.scss";

.fadeIn {
  width: 100%;
  animation: 0.8s fadeIn forwards;
}

.fadeOut {
  width: 100%;
  animation: 0.8s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    //opacity: 0;
    transform: translate(0, -150%);
  }
  to {
    //opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeOut {
  from {
    //opacity: 1;
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -150%);
    //opacity: 0;
  }
}

