
$radius: 5px;

// ---------- Settings COLOR VARIABLES ---------- //
$white: #f7f6f6;
$black: #101010;
$darkGray: #2a2a2a;
$darkBrown: #3A0000;
$brown: #4C1600;
$lightBrown: #7B3F00;
$lightBrown2:rgb(240, 193, 142);
$gold: #FFD700;
$gray: #aaaccc;

// ---------- PROJECT COLOR VARIABLES ---------- //
$text-color: $darkGray;
$text-color-light: $white;
$text-color-mid: $gray;
$text-color-primary: $gold;
$title-color-primary: $gold;


$Background-color: $black;
$nav-bg: $brown;
$footer-bg: $brown;

$bg-all-orders: $lightBrown;
$bg-all-orders-child: $brown;
$bg-cart: $brown;

$bg-prod-card: $brown;
$bg-prod-card-shadow: $brown;

$bg-contact-box: $brown;

$bg-confirm-box: $brown;

// ---------- Animations for hover ---------- //
$transitionTime-bg: 250ms;
$transitionTime-text: 250ms;
$transitionTime-shift: 250ms;
$transitionTime-scale: 250ms;
$transitionTimingFunction: linear;

$transitionShiftUpButton: 0px;
$transitionScaleButton: scale(1);

$transitionShiftUp: 0px;
$transitionScale: scale(1);

%transitionHover {
  transition: background-color $transitionTime-bg,
              box-shadow $transitionTime-bg,
              color $transitionTime-text,
              border-color $transitionTime-bg,
              margin-bottom $transitionTime-shift,
              transform $transitionTime-scale;
  transition-timing-function: $transitionTimingFunction;
}

// ---------- Fonts and text sizes ---------- //
$font-text: 'Nunito', sans-serif;
$font-title: 'Oleo Script', sans-serif;
$base-size: 14px;

$text-nav: $base-size * 2;

%titleStyle {
  text-align: center;
    color: $title-color-primary;
    font-family: $font-title;
    font-size: 42px;
    margin-top: 25px;
    margin-bottom: 15px;
}